/* you will add css rules for element selectors and IDs */
body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
    margin: 0;
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
}
section {
  max-width: 600px;
  flex-direction: row;
}


header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background: #666;
  color: #fff;
  padding: 1rem;
  align-items: center;
}

article {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: center;
}

#cougar{
  background: #FFD5AE;
  margin: 0;
}

#lion{
  background: #FFBD82;
  margin: 0;
}

#tiger{
  background: #B26219;
  margin: 0;
}

.text {
  color: #000;
  margin-left: 2rem;
  box-sizing: border-box;
}


footer {
  background: #666;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 1rem;
  font-size: 12px;

}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li {
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

h1 {
  margin-left: 1rem;
}

.text h2 {
  margin:0;
}

.photo {
  font-size: 15px;
}



/* you may add to or change the body rule */


/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
}
a:hover {
    color: #82E8FF;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
}
